<html>
    <head>

        <link rel="stylesheet" href="header.css">
        <script src="/socket.io/socket.io.js"></script>

        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="chat.js"></script>
       

    <style>
    
        .main_header{
                background-color: rgb(87, 80, 80);
               /* background-color: rgb(24, 117, 170); */

display: block;
width: 1000px;
position: absolute;
left:20%;
height:598px;
top:10%;
}
.chatlists{
background-color: rgb(228, 220, 220);
display: block;
position: relative;
bottom:1px;
width: 200px;
height:600px;
}
#user_selected{
display: inline-block;
background-color: rgb(141, 141, 156);
width: 100px;
height:50px;
margin-left: 40px;
padding: 10px;
                
}
        .chatlists p{
               display: inline-block;
background-color: rgb(141, 141, 156);
width: 100px;
height:50px;
margin-left: 40px;
padding: 10px;
                border-radius: 10px;
        }
        .chatlists p[active=true]{

 border-radius:10px;border:10px solid blue
        }
        .chats{
                position: relative;
                width: 800px;
                left:20%;
                bottom:100%;
                height: 500px;
                overflow-x: hidden;
        }
        #sent{
               display: block;
                position: relative;
                background-color: rgb(246, 246, 248);
                width: 120px;
                height:auto;
                padding: 10px;
                left:80%;
                border-radius: 10px;
                word-wrap: break-word;

        }
        #from{
                display: block;
                position: relative;
                background-color: rgba(229, 252, 176, 0.932);
                width: 120px;
                min-height: 30px;
                padding: 10px;
                left:30px;
                border-radius: 10px;
                word-wrap: break-word;
        }
        #name{
                position: relative;
                top:10px;
        }
        .message{
                width: 800px;
                position: relative;
                bottom:98%;
                background-color: rgb(236, 232, 232);
                left:200px;
                height: 80px;
                border-radius: 4px;
                margin-top: 3px;

        }
        textarea{
                resize: none;
        }
        .for_file{
                position: relative;
                left:80%;
                bottom:60px;

        }
        #btn2{
                width: 100px;
                height:40px;
                background-color: rgb(25, 219, 41);
                border-radius: 10px;
        }

</style>
    </head>


    <script>
        $(()=>{

                const socket=io()
            $(".main").load("header1.html")
        
        socket.on("message",(data,userid)=>{
        let x = document.getElementsByClassName("chats")[0];
        x.scrollTop=x.scrollHeight

        if($(`#${userid}`).attr("active")=="true"){


let p = document.createElement("p");
p.id="from"
p.innerText=data
let x = document.getElementsByClassName("chats")[0];
x.appendChild(p);
x.scrollTop=x.scrollHeight;

        }else{
                console.log("else")
        }
})
$("#btn2").on("click",()=>{

// jquery static
let x={}
 x.message = $("#m").val()
 x.user=location.hash.split("#")[1]

let elem = document.createElement("p");
elem.id="sent";
elem.innerText=x.message;
let elem_main = document.getElementsByClassName("chats")[0]

elem_main.appendChild(elem)
elem_main.scrollTop=elem_main.scrollHeight

socket.emit("message",x)


$.ajax({
        url:"/new_chat",
        method:"get",
        data:x,
        success:function(response){
                console.log("done")
        }
})
})

$(".chatlists p").on("click",function(){

        let ids = location.hash=$(this).attr('id');
        let x = document.querySelectorAll(".chatlists p")
        $(".chats").empty();
        $(".message").css("display","block")
        for(i of x){
                i.setAttribute("active","false")
        }
        let data={};
        data.userid=ids
        document.getElementById(ids).setAttribute("active","true");
        $.ajax({
                         url:"/updatechat",
                         method:"get",
                         data:data,
                         success:function(response){

                                 
                                 for(let x of response )
                                 {
                                         let p= document.createElement("p")
                                         let elem = document.getElementsByClassName("chats")[0];
                                         p.innerText=x.content
                                                 p.id=x.turn==true?"sent":"from"
                                                 elem.appendChild(p);

                                         
                                 }
                                
                         }
                 })
                })

        })





    </script>
    <body>
 
                        <div class="main"></div>

<div class="main_header">
            <div class="chatlists">
                             <% for(let i=0;i<result[0].Messages.length;i++) {%>
                                     <p id="<%=result[0].Messages[i].to %>" active="false"><%=result[0].results[i].Name %> <%=result[0].Messages[i].to %></p>
                             <% }%>

                                                 
                            
            </div>
                        <div class="chats">
                                <!-- <p id="sent">Hello</p>
                                <p id="from">Buddy</p>
                                <p id="sent">ddd</p>
                                        <p id="from">Buddy</p>
                                        <p id="sent">ddd</p>    <p id="sent">Hello</p>
                                        <p id="from">Buddy</p>
                                        <p id="sent">ddd</p>
                                        <p id="sent">Hello</p>
                                        <p id="from">Buddy</p>
                                        <p id="sent">ddd</p> -->
                        </div>
                        <div class="message" style="display: none;">
                                <form method="post" id="frm">
                                <textarea id="m" rows="5"cols="80"></textarea>
                                <div class="for_file">
                                <!-- <input type="file" style="display:none">
                                <input type="button" id="btn2" value="upload file"> -->
                                <input type="button" id="btn2" value="Send">

                                </div> 
                                </form>
                        </div>


        </div>

</div>
<div class="main"></div>
</body>
</html>