<html>
    <style>
        p,a{
            text-align: center;
            position: relative;
            top:150px;
            font-size: 34px;
            color: red;
        }
        a{
            left:640px;
            font-size: 15px;
            color: blue;
        }
    </style>
    <script>
        setTimeout(() => {
            window.location.href="/home"
        },1000 );
    </script>
    <body>
        <p>Order done,redirecting</p>
        <a href="/home">Click here to redirect manually</a>
    </body>
</html>